/* Color palette--------------------------
PALE LAVENDER
#E3D7FF
SILVER CHALICE
#ABA9BF
DARK CERULEAN
#10387D
MINT CREAM
#f3fffd
MOUNTBATTEN PINK
#966B9D
----------------------------------------*/
/* Fonts --------------------------------
font-family: 'Philosopher', sans-serif;
font-family: 'Vollkorn', serif;
---------------------------------------*/
/* SASS variables */
$unit: repeat(12, calc(100%/12));
$menuWidth: calc(25% - 7.5px);
//$menuHeight: calc(8*(0.8em + 0.2vw));
$headerHeight: 7.8125rem;
$navHeight: 3rem;
$viewportHeight: 100vw;
$menuHeight: auto;
//$menuHeight: calc(100vh - 3rem - 7.8125rem - 7.8125rem);
/*btn*/

/*colors*/
$headerColor: #B9D6F2;
$mainBackgroundColor: #E3D7FF;
$hoverLinkColor: #6E44FF;
$mainTextColor: #10387d;
$bodyBackgroundColor: #ABA9BF;
$whiteColor: #f3fffd;
$modeColor: #966B9D;
$redButtonTextColor: #DDFFF7;
$redButtonBackgroundColor: #993955;
$redButtonBorderColor: #4A4063;
/*-------------------------------------*/
/*z-indexes*/
$nav-z-index: 1;
$backdrop-z-index: 2;
$job-info-wrapper-z-index: 3;
$job-info-z-index: 4;
$image-perview-z-index: 3;
$services-z-index: 5;
$button-z-index: 1;
$arrow-index: 3;
/*shared*/
%button-border-shared {
  border-radius:15px;
  border:3px solid $mainTextColor;
}
%input-border-shared {
  border-radius:5px;
  border:2px solid $mainTextColor;
}
%lines-shared {
  display: flex;
}
%input-shared {
  margin-top: 15px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}
%arrow-shared {
  text-align: center;
  font-size: 6rem;
  z-index: $arrow-index;
  color: $whiteColor;
  i {
    position: sticky;
  }
}
%spinner {
    animation: App-gear-spin infinite 1.8s linear;
}
/*---------------------------------*/
html {
  box-sizing: border-box;
  font-size: calc(0.7em + 0.3vw);
  background-color: $bodyBackgroundColor;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.web {
  display: grid;
  grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25% [end];
  grid-template-rows: [header-start] $headerHeight [header-end nav-start] $navHeight [main-start nav-end] $menuHeight [main-end footer-start] $headerHeight [footer-end];
  align-items: center;
  background: $headerColor;
  color: $mainTextColor;
  height: 100%;
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $backdrop-z-index;
    background-color: rgb(0, 0, 0);
    opacity: 0.65;
  }
  .nav {
    grid-area: nav-start / first / nav-end / end;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: stretch;
    border-top: 3px solid $mainTextColor;
    border-bottom: 3px solid $mainTextColor;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $nav-z-index;
    a {
      padding: 0.625rem;
      background: $whiteColor;
      width: 25%;
      text-decoration: none;
      &:hover {
        background: $mainBackgroundColor;
        color: $mainTextColor;
        text-shadow: 1px 1px $whiteColor;
      }
      &.active {
        background: $modeColor;
        color: $whiteColor;
        text-shadow: 1px 1px $mainTextColor;
      }
    }
  }
  header {
    grid-area: header-start / first / header-end / end;
    p, i {
      font-size: 1.5625rem;
      }
    .header-cont {
      font-family: 'Philosopher', sans-serif;
      display: grid;
      grid-template-columns: 7.8125rem 1.15fr 0.85fr;
      grid-template-rows: $headerHeight;
      background: $headerColor;
      padding-right: 1rem;
      figure {
        grid-column: 1;
        grid-row: 1;
        // margin-block-start: 0.625rem;
        // margin-block-end: 0.625rem;
        // margin-inline-start: 0.625rem;
        // margin-inline-end: 0;
        #logo, #gear {
          width: 7.1875rem;
          position: absolute;
          top: 0.625rem;
          left: 0.625rem;
        }
        #gear{
          @extend %spinner
        }
      }
      .first-name {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
        justify-self: flex-start;
        text-align: center;
        padding-left: 1rem;
        h1 {
          font-size: 3.125rem;
          margin: 0;
          border-bottom: 3px solid $mainTextColor;
        }
        p {
          margin: 0;
        }
      }
      .contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        grid-column: 3;
        grid-row: 1;
        text-align: right;
        p {
          margin: 0;
        }
        i {
          margin-right: 0.3rem;
        }
      }
    }
  }
  .main-container {
    grid-area: main-start / first / main-end / end;
    width: 100%;
    align-self: start;
    background-color: $headerColor;
    grid-template-columns: $unit;
    grid-template-rows: auto;
    display: grid;
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 3rem;
    .menu {
      grid-area: 1 / 3 / 3 / 11;
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: repeat(4, $menuWidth);
      // grid-template-rows: $menuHeight 25rem;
      grid-template-rows: auto;
      $depth:50vw;
      $text-color:$mainTextColor;
      $lighten-on-hover:3%;
      $button-speed:.15;
      $timing-function: ease-in-out;
      .btnBed {
        display: flex;
        justify-content: center;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        margin-top: 0.3rem;
        &.diamond-coring { 
          grid-area: 1/1/2/2;
        }
        &.diamond-saw {
          grid-area: 1/2/2/3;
        }
        &.diamond-wire {
          grid-area: 1/3/2/4;
        }
        &.enforcement {
          grid-area: 1/4/2/5;
        }
        .btn {
          display: flex;
          justify-content: center;
          text-shadow: 1px 1px 5px $whiteColor;
          font-size:1.8rem;
          font-weight:bold;
          color:$text-color;
          height: 75%;
          width: 85%;
          padding: 1rem ;
          margin-top: 2rem;
          background-color: $whiteColor;
          @extend %button-border-shared;
          transition:all ($button-speed + s) $timing-function;
          backface-visibility: hidden;
          &:hover, &.hover{
            background: $mainBackgroundColor;
            // color: $whiteColor;
            // text-shadow: 1px 1px 5px $redButtonBorderColor;
            transform: translateY(-1.3rem);

            backface-visibility: hidden;
          }
          // &.hover {
          //   border: 3px solid $whiteColor;
          // }
          &.clicked {
            color: $whiteColor;
            text-shadow: 1px 1px 5px $redButtonBorderColor;
            border: 3px solid $whiteColor;
            background-color: $redButtonBorderColor;
          }
        }
      }

      %menu-services-shared {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
      }
      .services {
        z-index: $services-z-index;
        margin-top: 0;
        margin-bottom: 1rem;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
        border: 3px solid $whiteColor;
        border-top: none;
        background: $mainBackgroundColor;
        &.diamond-coring {
          @extend %menu-services-shared;
          grid-area: 2/1/3/2;
        }
        &.diamond-saw {
          @extend %menu-services-shared;
          grid-area: 2/2/3/3;
        }
        &.diamond-wire {
          @extend %menu-services-shared;
          grid-area: 2/3/3/4;
        }
        &.enforcement {
          @extend %menu-services-shared;
          grid-area: 2/4/3/5;
        }
        & h3 {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          color: $whiteColor;
          text-shadow: 2px 1px 4px $redButtonBorderColor,  1px 2px 5px $mainTextColor;
          font-family: 'Philosopher', sans-serif;
          font-size: 1.5rem;
        }
        & h3:hover {
          cursor: pointer;
          color: $mainTextColor;
          text-shadow: 1px 1px 2px $whiteColor, 2px 2px 2px rgb(218, 218, 219);
        }
      }
    }
    .job-info-wrapper {
      border-radius:15px;
      //padding: 3px;
      background-color: $mainTextColor;
      margin: 1rem;
      background-size: 280% 280%;
      background-position: 0% 100%;
      grid-area: 1 / 3 / 3 / 11;
      display: flex;
      z-index: $job-info-wrapper-z-index;
      transition: all 0.3s ease-in;
      //-webkit-animation: gradientBG 5s linear 1;
      //animation: gradientBG 1s linear 1 0.003s;
      .job-info {
        background-color: $bodyBackgroundColor;
        background-size: 280% 280%;
        background-position: 0% 100%;
        margin: 3px;
        z-index: $job-info-z-index;
        flex-grow: 1;
        //@extend %button-border-shared;
        border-radius:10px;
        //-webkit-animation: gradientBG 5s linear 1;
        //animation: gradientBG 1s linear 1;
        button {
          width: 2rem;
          height: 2rem;
          outline: none;
          background: 
          repeating-linear-gradient(45deg, transparent 0% 43%, $mainTextColor 43%  57%),
          repeating-linear-gradient(135deg, transparent 0% 43%, $mainTextColor 43%  57%);
          //transition: all 5s ease-in  3s;
          border: 3px transparent;
          border-radius: 100%;
          //box-sizing: border-box;
          position: relative;
          z-index: $button-z-index;
          &:hover {
            background: 
            repeating-linear-gradient(45deg, transparent 0% 43%, $redButtonBackgroundColor 43%  57%),
            repeating-linear-gradient(135deg, transparent 0% 43%, $redButtonBackgroundColor 43%  57%);
          }
        }
        canvas {
          margin: 2rem;
          background-color: $whiteColor;
          //background: radial-gradient(circle at top right, transparent 39.5%, $whiteColor 39.5%);
          background-size: 280% 280%;
          @extend %button-border-shared;
          transition: background-color 0.4s ease-in, border-color 0.35s ease-in;
        }
        .job-description {
          text-align: center;
        }
      } 
      @keyframes gradientBG {
        0% {
          background-position: 0% 100%;
        }
        50% {
          background-position: 50% 50%;
        }
        100% {
          background-position: 100% 0%;
        }
      }
      @-webkit-keyframes gradientBG {
        0% {
          background-position: 50% 100%;
        }
        50% {
          background-position: 25% 500%;
        }
        100% {
          background-position: 50% 100%;
        }
      }
    }
    .image-preview {
      margin-top: 2rem;
      grid-area: 1 / 3 / 1 / 11;
      display: block;
      justify-content: center;
      position: sticky;
      // top: 4rem;
      //align-items: baseline;
      text-align: center;
      z-index: $image-perview-z-index;
      img {
        border: 2px solid $mainTextColor;
        width: auto;
      }
    }
    .left-arrow {
      grid-area: 1 / 1 / 3 / 3;
      @extend %arrow-shared;
    }
    .right-arrow {
      grid-area: 1 / 11 / 3 / 13;
      @extend %arrow-shared;
    }
    .images-list {
      margin-top: 2rem;
      grid-area: 1 / 3 / 3 / 11;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 10px;
      grid-gap: 0 10px;
      text-align: center;
      img {
        border: 2px solid $mainTextColor;
        width: 250px;
      }
    }
    .gear-spinner {
      margin-top: 2rem;
      grid-area: 1 / 5 / 3 / 9;
      justify-self: start;
      img {
        max-width: 100%;
        @extend %spinner
      }
    }
    .input-rows {
      margin-top: 1rem;
      grid-area: 2 / 1 / 3 / 5;
      align-self: start;
      display: flex;
      flex-flow: column;
      background-color: $bodyBackgroundColor;
      @extend %button-border-shared;
      .last-row {
        margin-bottom: 15px;
      }
      .input-mod{
        @extend %input-shared;
        @extend %button-border-shared;
        background: $modeColor;
        color: $whiteColor;
        text-shadow: 1px 1px 3px $mainTextColor, 0px 2px 10px $redButtonBorderColor; 
        transition: height 0.15s ease-in, background-color 0.3s ease-in 0.01s;
        .utility-container {
          @extend %lines-shared;
          justify-content: flex-start;
          padding: 0.625rem 0px 0.625rem 0.3125rem;
          height: 4rem;
          transition: height 0.15s ease-out;
          .first-line {
            @extend %lines-shared;
            flex-grow: 1;
            justify-content: flex-start;
            .signs {
              align-self: center;
              font-size: 2.1875rem;
              text-shadow: 0px 2px 10px $redButtonBorderColor;
              i:last-of-type {
                margin: 0 0.625rem;
              }
            }
            .text {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              p {
                display: inline-block;
                margin: 0;
              }
            }
          }
          i:hover, .signs i:hover {
            color: $mainTextColor;
            text-shadow: 0px 0px 10px $whiteColor;
            transition: color 0.5s linear 0s;
          }
        }
      }
      .input {
        @extend %input-shared;
        @extend %button-border-shared;
        background: $whiteColor;
        color: $mainTextColor;
        .signs i:hover, .cart i:hover, .count i:hover, .fa-cog:hover, .classic-hover:hover {
          color: $modeColor;
          transition: color 0.5s linear 0s;
        }
        .add-to-cart {
          margin-right: 0.5rem;
          display: flex;
          flex-direction: row;
          .count {
            align-content:center;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            text-align: center;
            margin-left: 1.25rem;
            input {
              text-align: center;
              width: 2.5rem;
            }
            p {
              padding: 2px 0.625rem;
              border: 3px solid $mainTextColor;
              margin: 0.3125rem;
            }
          }
          .cart {
            display: flex;
            i {
              margin-left: 0.625rem;
              align-self:center;
              font-size: 2.1875rem;
            }
          }
        }
        .input-width, .input-height, .input-depth, .input-diameter {
          display:flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-bottom: 1rem;
          width: 15%;
        }
        .input-diameter {
          width: 20%;
        }
        [type=text], select {
          font-family: 'Philosopher', sans-serif;
          color: $mainTextColor;
          width: 70%;
          font-size: 1.125rem;
          @extend %input-border-shared;
          background: $whiteColor;
          align-self: center;
          outline: none;
          margin:0;
        }
        p {
          display: inline-block;
          margin: 0;
        }
        .width, .height, .depth, .diameter {
          margin-top: 0.5rem;
        }
        #diameter {
          width: 75%;
          justify-self: start;
        }
        .buttons, .cog {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-grow: 1;
          text-align: right;
        }
        .cog {
          margin-left: 1rem;
          font-size: 2.5rem;
          .slow-spin {
            -webkit-animation: fa-spin 3s infinite linear;
            animation: fa-spin 3s infinite linear;
          }
        }
        // .select {
        //   margin-left: 1rem;
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: space-around;
        // }
        button {
          font-family: 'Vollkorn', serif;
          color: $mainTextColor;
          width: 8.125rem;
          height: 5rem;
          padding: 0.625rem;
          margin: 0.625rem;
          background: $whiteColor;
          font-size: 1.125rem;
          font-weight: 600;
          @extend %button-border-shared;
          outline: none;
          transition: all 0.5s ease-out 0s;
        }
        .button:hover {
          transition: all 0.5s linear 0s;
          background: $mainBackgroundColor;
          -webkit-animation: emphasize 500ms 1 ease-in;
          animation: emphasize 500ms 1 ease-in-out;
        }
        @keyframes emphasize {
          30% {
            transform: scale(1.05);
          }
        }
        @-webkit-keyframes emphasize {
          30% {
            transform: scale(1.05);
          }
        }
        h3 {
          margin: 0.625rem 0 0 0;
          text-align: center;
        }
        .utility-container {
          transition: height 0.15s ease-out;
          padding: 0 0px 0.625rem 0.3125rem;
          flex-direction: column;
          height: 11.5rem;
          @extend %lines-shared;
          align-items: center;
          .title-text {
            margin-bottom: 0.3rem;
          }
          .second-line {
            @extend %lines-shared;
            justify-content: center;
            margin-bottom: 1rem;
            div {
              display: flex;
              flex-direction: column;
              text-align: center;
            }

          }
          .first-line {
            @extend %lines-shared;
            justify-content: flex-start;
            .signs {
              align-self: center;
              font-size: 2.1875rem;
              i:last-of-type {
                margin: 0 0.625rem;
              }
              p:first-child{
                display:flex;
              }
            }
          }
        }
        .opacity-class {
          opacity: 0;
        }
        .preferences {
          @extend %lines-shared;
          flex-direction: column;
          font-size: 1rem;
          max-height: 15rem;
          margin-top: -0.625rem;
          transition: max-height 0.15s ease-out;
          .input-block {
            display: flex;
            text-align: center;
            >div {
              display:flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: center;
              margin-bottom: 1rem;
              >p {
                margin-bottom: 0.3rem;
              }
              div select {
              width: 100%;
              }
            }
            >div:nth-child(1) {
              width: 34%;
            }
            >div:nth-child(2) {
              width: 25%;
            }
            >div:nth-child(3) {
              width: 25%;
            }
            >div:nth-child(4) {
              width: 16%;
            }
          }
          .yes-no-block {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-evenly;
          p {
            padding: 0.3rem 0;
          }
          //  >:nth-child(-n+2) {
          //   margin-bottom: 0.2rem;
          //  }
          //  >:nth-child(n+2) {
          //   :not(:first-of-type) {
          //     margin-left: 0.4rem;
          //   }
          //   :not(:last-of-type) {
          //     margin-right: 0.4rem;
          //   }
          //  }
            >div {
              text-align: center;
              &:nth-of-type(1) {
                >:nth-child(1) {
                  padding-top: 0;
                }
              }
              >div{
                display: flex;
                justify-content: center;
                >div{
                margin: 0 0.4rem;
                i>p{
                  margin-left: 0.3rem;
                }
                }
              }
            }


            // .waste, .water, .elevation {
            //   display: flex;
            //   flex-direction: row;
            //   width: 60%;
            // }
          }
        }
          // .input-enhancement {
          //   display: flex;
          //   flex-direction: column;
          //   align-items: center;
          // }
          // .enhancement-sides {
          //   margin: 0.5rem 0;
          //   display:flex;
          //   flex-direction: row;
          //   .input-enhancement-top, .input-enhancement-bot, .input-enhancement-left, .input-enhancement-right {
          //     display: flex;
          //     flex-direction: column;
          //     input {
          //       width:40%;
          //     }
          //     * {
          //       text-align: center;
          //     }
          //   }
            // .enhancement-top, .enhancement-bot, .enhancement-left, .enhancement-right {
            //   display: flex;
            //   align-items: center;
            // }
            // * {
            //   display:flex;
            //   align-items: center;
            // }
          // }
        // .second-line-transition, .third-line-transition {
        //   max-height: 0;
        //   // height: 10rem;
        //   transition: max-height 0.15s ease-in;
        // }
      }
    }
    .price {
      grid-area: 1 / 3 / 2 / 11;
      text-align: center;
      table {
        width: 100%;
        border-collapse: collapse;
        background-color: $whiteColor;
        thead, tfoot {
          background-color: $mainTextColor;
          color: $whiteColor;
        }
        th {
          padding: 0.5rem;
        }
        td {
          padding: 0.5rem;
          white-space: nowrap;
          border-style: double none; 
          vertical-align: top; 
          text-align: center;
        }
        .bottom-row {
          td {
            border-bottom-style: none; 
          }
        }
        .top-row {
          td {
            border-top-style: none;
          }
        }
        .bottom-lined {
          td {
            border-bottom-style: double; 
          }
        }
      }
      .notes {
        ul {
          text-align: left;
          li {
            padding-bottom: 0.5rem;
          }
        }
      }
    }
  }
  footer {
    grid-area: footer-start / first / footer-end / end;
    align-self: stretch;
    background-color: $headerColor;
    border-top: 3px solid $mainTextColor;
    .footer {
      font-family: 'Philosopher', sans-serif;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .footer-greeting {
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
        justify-content: space-between;
        align-items: center;
        & :first-child {
          margin-bottom: 0.5rem;
        }
      }
      p {
        margin: 0;
      }
      a i {
        font-size: 2rem;
      }
    }
  }
}
a {
  color: $mainTextColor;
  font-size: 1.25rem;
  font-weight: 600;
  &:hover {
    color: $hoverLinkColor;
  }
}
.hide {
  display: none;
}
@keyframes App-gear-spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
// h1 {
//   font-size: 3.125rem;
//   text-align: center;
//   margin: 0;
//   border-bottom: 3px solid $mainTextColor;
// }

// /*---Body---*/
// body {
//   font-family: 'Vollkorn', serif;
//   background: $bodyBackgroundColor;
//   margin: 0;
//   color: $mainTextColor;
// }
// h2 {
//   font-family: 'Philosopher', sans-serif;
//   font-size: 1.875rem;
//   margin: 1.25rem 0 2.1875rem 0;
//   text-align: center;
//   align-self: center;
//   flex-grow: 1;
//   background: -webkit-linear-gradient($headerColor, $mainTextColor);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   &:hover {
//     background: -webkit-linear-gradient($mainTextColor, $modeColor);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
// }
// h3 {
//   font-family: 'Philosopher', sans-serif;
//   font-size: 1.3rem;
//   text-align: center;
//   align-self: center;
//   flex-grow: 1;
// }
// /*-----nav----*/
// .nav {
//   grid-area: nav-start / first / nav-end / end;
//   text-align: center;
//   margin: 0;
//   display: flex;
//   flex-direction: row;
//   align-items: stretch;
//   border-top: 3px solid $mainTextColor;
//   border-bottom: 3px solid $mainTextColor;
//   position: sticky;
//   top: 0;
//   width: 100%;
//   a {
//     padding: 0.625rem;
//     background: $whiteColor;
//     color: $mainTextColor;
//     width: 25%;
//     text-decoration: none;
//     &:hover {
//       background: $modeColor;
//       color: $whiteColor;
//     }
//   }
// }
// /*-------main---------*/
// .main-container {
//   grid-area: main-start / first / main-end / end;
//   display: grid;
//   grid-template-columns: $unit;
//   grid-template-rows: auto;
//   font-size: 1.125rem;
//   font-weight: 600;
//   .firstSection {
//     grid-area: 1 / 2 / 2 / 12;
//   }
//   .secondSection {
//     grid-area: 5 / 1 / 6 / 13;
//     display: flex;
//     place-items: center;
//     border-top: 3px solid $mainTextColor;
//     border-bottom: 3px solid $mainTextColor;
//     background: $whiteColor;
//     h2 {
//       margin: 0.6125rem 0 1.09rem 0;
//     }
//   }
//   .thirdSection {
//     grid-area: 15 / 1 / 16 / 13;
//     display: flex;
//     place-items: center;
//     border-top: 3px solid $mainTextColor;
//     border-bottom: 3px solid $mainTextColor;
//     background: $whiteColor;
//     h2 {
//       margin: 0.6125rem 0 1.09rem 0;
//     }
//   }
// }
// .titlePrice {
//   display: flex;
//   justify-content: center;
//   margin-top: 3rem;
//   margin-bottom: 0.5rem;
//   font-size: 1.5rem;
// }
// .titlePrice1 {
//   grid-area: 6 / 1 / 7 / 13;
// }
// .titlePrice2 {
//   grid-area: 9 / 1 / 10 / 13;
// }
// .price {
//   display: grid;
//   grid-template-columns: repeat(4, 25%);
//   grid-template-rows: auto;
//   grid-auto-flow: row;
//   place-items: stretch;
//   /* column-gap: 0.3rem; */
//   justify-content: center;
//   align-items: center;
//   background: $whiteColor;
//   margin-bottom: 1rem;
// }
// .price1 {
//   grid-area: 7 / 3 / 8 / 11;
// }
// .price2 {
//   grid-area: 10 / 3 / 11 / 11;
// }
// .titlePrice3 {
//   grid-area: 11 / 1 / 12 / 13;
// }
// .price3 {
//   grid-area: 12 / 3 / 13 / 11;
// }
// .head {
//   justify-self: stretch;
//   align-self: stretch;
//   text-align: center;
//   color: $whiteColor;
//   background: $mainTextColor;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .content {
//   justify-self: stretch;
//   align-self: stretch;
//   text-align: center;
//   color: $mainTextColor;
//   background: $whiteColor;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0.7rem 0;
//   border-bottom: 1px solid $mainTextColor;
// }
// .price div:first-child {
//   grid-area: 1 / 2 / 2 / 5;
//   padding: 1rem 0 0.5rem 0;
//   border-bottom: 1px solid $whiteColor;
// }
// .price div:nth-last-child(-n+4) {
//   border: none;
// }
// .price div:nth-child(2) {
//   grid-area: 1 / 1 / 3 / 2;
// }
// .price div:nth-child(3) {
//   grid-area: 2 / 2 / 3 / 3;
//   padding: 0.5rem 0;
// }
// .price div:nth-child(4) {
//   grid-area: 2 / 3 / 3 / 4;
//   padding: 0.5rem 0;
// }
// .price div:nth-child(5) {
//   grid-area: 2 / 4 / 3 / 5;
//   padding: 0.5rem 0;
// }
// .notes {
//   grid-area: 8 / 3 / 9 / 10;
// }
// .titlePrice4 {
//   grid-area: 13 / 1 / 14 / 13;
// }
// .price4 {
//   grid-area: 14 / 3 / 15 / 11;
// }

// /* INPUT */
// .input-rows {
//   grid-column: 1 / 13;
//   grid-row: 3 / 4;
//   display:flex;
//   flex-flow: column;
// }
// .input {
//   display: flex;
//   flex-direction: column;
//   background: $whiteColor;
//   color: $mainTextColor;
//   margin-top: -3px;
// }
// .input-mod {
//   display: flex;
//   justify-content: flex-start;
//   margin-top: -3px;
//   border-top: 3px solid $mainTextColor;
//   border-bottom: 3px solid $mainTextColor;
//   background: $modeColor;
//   color: $whiteColor;
//   padding: 0.3125rem 0 0.3125rem 0.3125rem;
//   text-shadow: none;
//   height: 3rem;
//   transition: height 0.15s ease-in, background-color 0.3s ease-in 0.01s;
// }
// %lines-shared {
//   display: flex;
//   border-top: 3px solid $mainTextColor;
//   border-bottom: 3px solid $mainTextColor;
//   margin-top: -3px;
// }
// .first-line {
//   @extend %lines-shared;
//   justify-content: flex-start;
//   padding: 0.625rem 0px 0.625rem 0.3125rem;
//   height: 8rem;
//   transition: height 0.15s ease-out;
// }
// .second-line, .third-line{
//   @extend %lines-shared;
//   height: auto;
//   max-height: 15rem;
//   justify-content: space-between;
//   padding: 0 0 0 0.3125rem;
//   transition: max-height 0.15s ease-out;
// }
// .second-line-transition, .third-line-transition {
//   max-height: 0;
//   transition: max-height 0.15s ease-in-out;
// }
// /* Side menu */
// /* .diamond-coring, .diamond-wire, .diamond-saw { */
//   /* <row-start> / <column-start> / <row-end> / <column-end> */
//   /* grid-area: 3 / 1 / 4 / 3;
//   border-top: 3px solid #10387d;
//   border-bottom: 3px solid #10387d;
//   border-right: 3px solid #10387d;
//   border-bottom-right-radius: 15%;
//   border-top-right-radius: 15%;
//   margin-top: -3px;
// } */
// // .services {
// //   display: flex;
// //   justify-content: center;
// //   align-items: flex-start;
// //   grid-area: 1/2/2/12;
// //   margin: 2rem 0.5rem;
// // }
// .menu {
//   grid-area: 1 / 2 / 3 / 12;
//   display: grid;
//   grid-column-gap: 10px;
//   grid-template-columns: repeat(4, $menuWidth);
//   grid-template-rows: auto 35vh;
// }
// .titles {
//   margin-top: .7rem;
//   border-top-left-radius:5px;
//   border-top-right-radius:5px;
//   display: flex;
//   justify-content: center;
//   align-items: stretch;
//   &.diamond-coring {
//     grid-area: 1/1/2/2;
//   }
//   &.diamond-saw {
//     grid-area: 1/2/2/3;
//   }
//   &.diamond-wire {
//     grid-area: 1/3/2/4;
//   }
//   &.enforcement {
//     grid-area: 1/4/2/5;
//   }
// }
// .fill {
//   background: $redButtonBorderColor;
// }
// .services {
//   margin-top: 0;
//   margin-bottom: 1rem;
//   border-bottom-left-radius:5px;
//   border-bottom-right-radius:5px;
//   &.diamond-coring {
//     grid-area: 2/1/3/2;
//   }
//   &.diamond-saw {
//     grid-area: 2/2/3/3;
//   }
//   &.diamond-wire {
//     grid-area: 2/3/3/4;
//   }
//   &.enforcement {
//     grid-area: 2/4/3/5;
//   }
//   & h3 {
//     // text-shadow: 0 0 10px $whiteColor, 2px 2px 2px rgba(206,89,55,0);
//     color: $whiteColor;
//   }
//   & h3:hover {
//     cursor: pointer;
//     text-shadow: 0 0 10px $whiteColor, 2px 2px 2px rgba(206,89,55,0);
//   }
// }
// /* BUTTONS */
// $depth:50vw;
// $text-color:$mainTextColor;
// $lighten-on-hover:3%;
// $button-speed:.5;
// $timing-function: ease-in-out;
// .btn {
//   text-shadow: 0 0 10px $whiteColor;
//   font-size:2rem;
//   font-weight:bold;
//   color:$text-color;
//   height: auto;
//   width: auto;
//   padding: 1rem ;
//   margin-top: 2rem;
//   // margin-bottom: 3rem;
//   background: linear-gradient(to bottom,
//     saturate(lighten($modeColor,25%),35%) 0%,
//     saturate(lighten($headerColor,12%),15%) 26%,
//     $modeColor 100%);
//   border-radius:5px;
//   border:1px solid $headerColor;
//   transition:all ($button-speed + s) $timing-function;
//   &.hover {
//     background:lighten(saturate($mainTextColor,5%),$lighten-on-hover);
//     // background: linear-gradient(to bottom,
//     // saturate(lighten($mainTextColor,15%),35%) 0%,
//     // saturate(lighten($headerColor,2%),5%) 26%,
//     // $mainTextColor 100%);
//     text-shadow: 0 0 10px $whiteColor, 2px 2px 2px rgba(206,89,55,0);
//     color: $whiteColor;
//     transform: translate(0, -10%);
//   }
// }
// // .btn:hover {
// //   background: linear-gradient(to bottom,
// //     lighten(saturate(lighten($headerColor,0%),5%),$lighten-on-hover) 0%,
// //     lighten(saturate(lighten($headerColor,12%),15%),$lighten-on-hover) 26%,
// //     lighten($redButtonBackgroundColor,15%) 100%);
// //   border:3px solid $mainTextColor;
// //   transform: translate(0, -10%);
// //   text-shadow: 0 0 10px #F3FFFD, 2px 2px 2px rgba(206,89,55,0);
// // }
// /* First line */
// .signs {
//   align-self: center;
//   font-size: 2.1875rem;
//   i:last-of-type {
//     margin: 0 0.625rem;
//   }
//   p:first-child{
//     display:flex;
//   }
// }
// .input .signs i:hover, .cart i:hover, .count i:hover, .fa-cog:hover {
//   color: $modeColor;
//   transition: color 0.5s linear 0s;
// }
// .input-mod i:hover, .input-mod .signs i:hover {
//   color: $mainTextColor;
//   transition: color 0.5s linear 0s;
// }
// .add-to-cart {
//   margin-right: 0.5rem;
//   display: flex;
//   flex-direction: row;
//   .count {
//     align-content:center;
//     display: flex;
//     flex-direction: column;
//     justify-content:space-evenly;
//     text-align: center;
//     margin-left: 1.25rem;
//     input {
//       text-align: center;
//       width: 2.5rem;
//     }
//     p {
//       padding: 2px 0.625rem;
//       border: 3px solid $mainTextColor;
//       margin: 0.3125rem;
//     }
//   }
//   .cart {
//     display: flex;
//     i {
//       margin-left: 0.625rem;
//       align-self:center;
//       font-size: 2.1875rem;
//     }
//   }
// }
// .input-width, .input-height, .input-depth, .input-diameter {
//   align-self:center;
// }
// [type=text], select {
//   font-family: 'Vollkorn', serif;
//   color: $mainTextColor;
//   width: 50%;
//   font-size: 1.125rem;
//   border: 2px solid $mainTextColor;
//   background: $whiteColor;
//   align-self: center;
// }
// p {
//   display: inline-block;
//   margin: 0;
// }
// .width, .height, .depth {
//   justify-self: start;
// }
// #diameter {
//   width: auto;
//   justify-self: start;
// }
// .buttons, .cog {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   flex-grow: 1;
//   text-align: right;
// }
// .select {
//   margin-left: 1rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
// }
// .bit, .disk {
//   display: flex;
//   flex-direction: row;
// }
// .select img{
//   width: auto;
//   height: auto;
//   max-width: 6rem;
//   max-height: 2.5rem;
//   margin-left: 0.3rem;
// }
// button {
//  font-family: 'Vollkorn', serif;
//  color: $mainTextColor;
//  width: 8.125rem;
//  height: 5rem;
//  padding: 0.625rem;
//  margin: 0.625rem;
//  background: $whiteColor;
//  font-size: 1.125rem;
//  font-weight: 600;
//  border: 2px solid $mainTextColor;
//  transition: all 0.5s ease-out 0s;
// }
// .button:hover {
//   transition: all 0.5s linear 0s;
//   background: $modeColor;
//   color: $whiteColor;
// }
// .redButton {
//   font-family: 'Vollkorn', serif;
//   transition: all 0.5s ease-out 0s;
//   background: $modeColor;
//   color: $whiteColor;
//   width: 80%;
//   height: 5rem;
//   padding: 0.625rem;
//   margin: 0.625rem;
//   font-size: 1.125rem;
//   font-weight: 600;
//   border: 2px solid $mainTextColor;
//  }
//  .redButton:hover {
//   transition: all 0.5s linear 0s;
//   color: $redButtonTextColor;
//   background: $redButtonBackgroundColor;
//   border: 2px solid $redButtonBorderColor;
//  }
// /* Second line */
// .second-line p, .third-line p{
//   text-align: center;
//   font-family: 'Vollkorn', serif;
//   font-weight: 600;
//   font-size: 1.125rem;
// }
// .waste, .input-waste-weight, .input-concrete-weight, .elevation-check, .material, .water-check, .input-job, .input-material, .settings-check, .input-enhancement, .enhancement-top, .enhancement-bot, .enhancement-left, .enhancement-right, .wire-calculate, .wire-comments {
//   display: flex;
//   flex-grow: 1;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0.5rem 0;
//   max-width: 15%;
// }
// .elevation-check-answers, .water-check-answers, .settings-check-answers {
//   display: flex;
//   justify-content: space-between;
//   width: 95%;
// }
// .elevation-over-limit, .elevation-under-limit, .water-check-on, .water-check-off, .settings-check-on, .settings-check-off {
//   flex-grow: 1;
//   text-align: center;
// }
// .second-line select {
//   width: 95%;
// }
// i p {
//   padding-left: 0.5rem;
// }
// #waste-head {
//   align-self: center;
// }
// .concrete-weight, .waste-weight {
//   display: flex;
//   width: 50%;
//   justify-content: center;
// }
// #concrete-weight, #waste-weight {
//   width: 100%;
// }
// .select-job, .select-material {
//   display: flex;
//   width: 100%;
//   justify-content: center;
// }
// .answers {
//   display: flex;
//   justify-content: center;
//   padding: 0.5rem 0;
// }
// .answers i{
//   padding: 0 1rem;
// }
// .waste-answers {
//   display: flex;
//   flex-direction: column;
//   /* padding-bottom: 1rem; */
// }
// .waste-answers i {
//   display: flex;
//   padding: 0.5rem 0;
// }
//  .fa-cog {
//    font-size: 2.5rem;
//  }
// /* Third-line */
// .input-enhancement {
//   max-width: 100%;
// }
// .wire-calculate, .wire-comments{
//   max-width: 60%;
//   justify-content: space-around;
// }
// .enhancement-sides {
//   display: flex;
//   flex-grow: 1;
//   justify-content: space-evenly;
// }
// .input-wire {
//   display: flex;
//   flex-grow: 1;
//   justify-content: space-around;
// }
// .input-wire img {
//   max-width: 20%;
//   height: auto;
//   margin-left: -3rem;
// }
// .wire-formula {
//   border: 2px solid $mainTextColor;
//   padding: 0.5rem 1rem;
//   margin-bottom: 0.5rem;
// }
// .wire-calculate input {
//   text-align: center;
//   width: 2.5rem;
// }
// #wire-comments {
//   resize: none;
//   width: 75%;
//   height: 8rem;
// }
// /* .wire-comments input {
//   text-align: center;
//   width: 90%;
//   height: 4rem;
// } */
// canvas {
//   grid-column: 5 / 13;
//   grid-row: 4 / 5;
//   justify-self: center;
//   background: $whiteColor;
//   border:3px solid $mainTextColor;
//   margin: 3rem 0;
// }
// .canvasInfo {
//   grid-column: 1 / 5;
//   grid-row: 4 / 5;
//   justify-self: center;
//   background: $whiteColor;
//   border:3px solid $mainTextColor;
//   margin: 3rem 0;
// }
// body>.content-wrap {
//   background: $whiteColor;
//   width: 40%;
//   min-width: 34.375rem;
// }
// /* footer */
// footer {
//   grid-area: -2 / first / -1 / end;
//   background: $headerColor;
//   border-top: 3px solid $mainTextColor;
//   text-align: center;
//   display: flex;
//   flex-flow: column wrap;
//   justify-content:center;
// }
// footer a {
//   font-size: 2.5rem;
// }
// .content-wrap {
//   min-width: 31.25rem;
//   margin: 0 auto;
//   text-align: center;
//   padding: 1.25rem;
// }
// .hide {
//   display: none;
//   max-height: 0;
// }
// @-webkit-keyframes target-fade {
//   0% { background-color: rgba(153,57,85,.8); }
//   100% { background-color: rgba(153,57,85,0); }
// }
// @-moz-keyframes target-fade {
//   0% { background-color: rgba(153,57,85,.8); }
//   100% { background-color: rgba(153,57,85,0); }
// }
// .highlight {
//   -webkit-animation: target-fade 3s 1;
//   -moz-animation: target-fade 3s 1;
// }
