/* Color palette--------------------------
PALE LAVENDER
#E3D7FF
SILVER CHALICE
#ABA9BF
DARK CERULEAN
#10387D
MINT CREAM
#f3fffd
MOUNTBATTEN PINK
#966B9D
----------------------------------------*/
/* Fonts --------------------------------
font-family: 'Philosopher', sans-serif;
font-family: 'Vollkorn', serif;
---------------------------------------*/
/* SASS variables */
/*btn*/
/*colors*/
/*-------------------------------------*/
/*z-indexes*/
/*shared*/
.web .main-container .input-rows .input button, .web .main-container .input-rows .input, .web .main-container .input-rows .input-mod, .web .main-container .input-rows, .web .main-container .job-info-wrapper .job-info canvas, .web .main-container .menu .btnBed .btn {
  border-radius: 15px;
  border: 3px solid #10387d;
}

.web .main-container .input-rows .input [type=text], .web .main-container .input-rows .input select {
  border-radius: 5px;
  border: 2px solid #10387d;
}

.web .main-container .input-rows .input .preferences, .web .main-container .input-rows .input .utility-container .first-line, .web .main-container .input-rows .input .utility-container .second-line, .web .main-container .input-rows .input .utility-container, .web .main-container .input-rows .input-mod .utility-container .first-line, .web .main-container .input-rows .input-mod .utility-container {
  display: flex;
}

.web .main-container .input-rows .input, .web .main-container .input-rows .input-mod {
  margin-top: 15px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.web .main-container .right-arrow, .web .main-container .left-arrow {
  text-align: center;
  font-size: 6rem;
  z-index: 3;
  color: #f3fffd;
}
.web .main-container .right-arrow i, .web .main-container .left-arrow i {
  position: sticky;
}

.web .main-container .gear-spinner img, .web header .header-cont figure #gear {
  animation: App-gear-spin infinite 1.8s linear;
}

/*---------------------------------*/
html {
  box-sizing: border-box;
  font-size: calc(0.7em + 0.3vw);
  background-color: #ABA9BF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.web {
  display: grid;
  grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25% [end];
  grid-template-rows: [header-start] 7.8125rem [header-end nav-start] 3rem [main-start nav-end] auto [main-end footer-start] 7.8125rem [footer-end];
  align-items: center;
  background: #B9D6F2;
  color: #10387d;
  height: 100%;
}
.web .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: black;
  opacity: 0.65;
}
.web .nav {
  grid-area: nav-start/first/nav-end/end;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: stretch;
  border-top: 3px solid #10387d;
  border-bottom: 3px solid #10387d;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.web .nav a {
  padding: 0.625rem;
  background: #f3fffd;
  width: 25%;
  text-decoration: none;
}
.web .nav a:hover {
  background: #E3D7FF;
  color: #10387d;
  text-shadow: 1px 1px #f3fffd;
}
.web .nav a.active {
  background: #966B9D;
  color: #f3fffd;
  text-shadow: 1px 1px #10387d;
}
.web header {
  grid-area: header-start/first/header-end/end;
}
.web header p, .web header i {
  font-size: 1.5625rem;
}
.web header .header-cont {
  font-family: "Philosopher", sans-serif;
  display: grid;
  grid-template-columns: 7.8125rem 1.15fr 0.85fr;
  grid-template-rows: 7.8125rem;
  background: #B9D6F2;
  padding-right: 1rem;
}
.web header .header-cont figure {
  grid-column: 1;
  grid-row: 1;
}
.web header .header-cont figure #logo, .web header .header-cont figure #gear {
  width: 7.1875rem;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}
.web header .header-cont .first-name {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: flex-start;
  text-align: center;
  padding-left: 1rem;
}
.web header .header-cont .first-name h1 {
  font-size: 3.125rem;
  margin: 0;
  border-bottom: 3px solid #10387d;
}
.web header .header-cont .first-name p {
  margin: 0;
}
.web header .header-cont .contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}
.web header .header-cont .contacts p {
  margin: 0;
}
.web header .header-cont .contacts i {
  margin-right: 0.3rem;
}
.web .main-container {
  grid-area: main-start/first/main-end/end;
  width: 100%;
  align-self: start;
  background-color: #B9D6F2;
  grid-template-columns: repeat(12, calc(100%/12));
  grid-template-rows: auto;
  display: grid;
  font-size: 1.125rem;
  font-weight: 600;
  padding-bottom: 3rem;
}
.web .main-container .menu {
  grid-area: 1/3/3/11;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  grid-template-rows: auto;
}
.web .main-container .menu .btnBed {
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0.3rem;
}
.web .main-container .menu .btnBed.diamond-coring {
  grid-area: 1/1/2/2;
}
.web .main-container .menu .btnBed.diamond-saw {
  grid-area: 1/2/2/3;
}
.web .main-container .menu .btnBed.diamond-wire {
  grid-area: 1/3/2/4;
}
.web .main-container .menu .btnBed.enforcement {
  grid-area: 1/4/2/5;
}
.web .main-container .menu .btnBed .btn {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 5px #f3fffd;
  font-size: 1.8rem;
  font-weight: bold;
  color: #10387d;
  height: 75%;
  width: 85%;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #f3fffd;
  transition: all 0.15s ease-in-out;
  backface-visibility: hidden;
}
.web .main-container .menu .btnBed .btn:hover, .web .main-container .menu .btnBed .btn.hover {
  background: #E3D7FF;
  transform: translateY(-1.3rem);
  backface-visibility: hidden;
}
.web .main-container .menu .btnBed .btn.clicked {
  color: #f3fffd;
  text-shadow: 1px 1px 5px #4A4063;
  border: 3px solid #f3fffd;
  background-color: #4A4063;
}
.web .main-container .menu .services.enforcement, .web .main-container .menu .services.diamond-wire, .web .main-container .menu .services.diamond-saw, .web .main-container .menu .services.diamond-coring {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.web .main-container .menu .services {
  z-index: 5;
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid #f3fffd;
  border-top: none;
  background: #E3D7FF;
}
.web .main-container .menu .services.diamond-coring {
  grid-area: 2/1/3/2;
}
.web .main-container .menu .services.diamond-saw {
  grid-area: 2/2/3/3;
}
.web .main-container .menu .services.diamond-wire {
  grid-area: 2/3/3/4;
}
.web .main-container .menu .services.enforcement {
  grid-area: 2/4/3/5;
}
.web .main-container .menu .services h3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #f3fffd;
  text-shadow: 2px 1px 4px #4A4063, 1px 2px 5px #10387d;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
}
.web .main-container .menu .services h3:hover {
  cursor: pointer;
  color: #10387d;
  text-shadow: 1px 1px 2px #f3fffd, 2px 2px 2px #dadadb;
}
.web .main-container .job-info-wrapper {
  border-radius: 15px;
  background-color: #10387d;
  margin: 1rem;
  background-size: 280% 280%;
  background-position: 0% 100%;
  grid-area: 1/3/3/11;
  display: flex;
  z-index: 3;
  transition: all 0.3s ease-in;
}
.web .main-container .job-info-wrapper .job-info {
  background-color: #ABA9BF;
  background-size: 280% 280%;
  background-position: 0% 100%;
  margin: 3px;
  z-index: 4;
  flex-grow: 1;
  border-radius: 10px;
}
.web .main-container .job-info-wrapper .job-info button {
  width: 2rem;
  height: 2rem;
  outline: none;
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0) 0% 43%, #10387d 43% 57%), repeating-linear-gradient(135deg, rgba(0, 0, 0, 0) 0% 43%, #10387d 43% 57%);
  border: 3px transparent;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}
.web .main-container .job-info-wrapper .job-info button:hover {
  background: repeating-linear-gradient(45deg, transparent 0% 43%, #993955 43% 57%), repeating-linear-gradient(135deg, transparent 0% 43%, #993955 43% 57%);
}
.web .main-container .job-info-wrapper .job-info canvas {
  margin: 2rem;
  background-color: #f3fffd;
  background-size: 280% 280%;
  transition: background-color 0.4s ease-in, border-color 0.35s ease-in;
}
.web .main-container .job-info-wrapper .job-info .job-description {
  text-align: center;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-webkit-keyframes gradientBG {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 25% 500%;
  }
  100% {
    background-position: 50% 100%;
  }
}
.web .main-container .image-preview {
  margin-top: 2rem;
  grid-area: 1/3/1/11;
  display: block;
  justify-content: center;
  position: sticky;
  text-align: center;
  z-index: 3;
}
.web .main-container .image-preview img {
  border: 2px solid #10387d;
  width: auto;
}
.web .main-container .left-arrow {
  grid-area: 1/1/3/3;
}
.web .main-container .right-arrow {
  grid-area: 1/11/3/13;
}
.web .main-container .escape {
  grid-area: 1/12/3/13;
  font-size: 3rem;
  color: #f3fffd;
}
.web .main-container .escape i {
  top: 6rem;
  position: sticky;
  z-index: 3;
}
.web .main-container .escape i:hover {
  color: #993955;
}
.web .main-container .images-list {
  margin-top: 2rem;
  grid-area: 1/3/3/11;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 0 10px;
  text-align: center;
}
.web .main-container .images-list img {
  border: 2px solid #10387d;
  width: 250px;
}
.web .main-container .gear-spinner {
  margin-top: 2rem;
  grid-area: 1/5/3/9;
  justify-self: start;
}
.web .main-container .gear-spinner img {
  max-width: 100%;
}
.web .main-container .input-rows {
  margin-top: 1rem;
  grid-area: 2/1/3/5;
  align-self: start;
  display: flex;
  flex-flow: column;
  background-color: #ABA9BF;
}
.web .main-container .input-rows .last-row {
  margin-bottom: 15px;
}
.web .main-container .input-rows .input-mod {
  background: #966B9D;
  color: #f3fffd;
  text-shadow: 1px 1px 3px #10387d, 0px 2px 10px #4A4063;
  transition: height 0.15s ease-in, background-color 0.3s ease-in 0.01s;
}
.web .main-container .input-rows .input-mod .utility-container {
  justify-content: flex-start;
  padding: 0.625rem 0px 0.625rem 0.3125rem;
  height: 4rem;
  transition: height 0.15s ease-out;
}
.web .main-container .input-rows .input-mod .utility-container .first-line {
  flex-grow: 1;
  justify-content: flex-start;
}
.web .main-container .input-rows .input-mod .utility-container .first-line .signs {
  align-self: center;
  font-size: 2.1875rem;
  text-shadow: 0px 2px 10px #4A4063;
}
.web .main-container .input-rows .input-mod .utility-container .first-line .signs i:last-of-type {
  margin: 0 0.625rem;
}
.web .main-container .input-rows .input-mod .utility-container .first-line .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.web .main-container .input-rows .input-mod .utility-container .first-line .text p {
  display: inline-block;
  margin: 0;
}
.web .main-container .input-rows .input-mod .utility-container i:hover, .web .main-container .input-rows .input-mod .utility-container .signs i:hover {
  color: #10387d;
  text-shadow: 0px 0px 10px #f3fffd;
  transition: color 0.5s linear 0s;
}
.web .main-container .input-rows .input {
  background: #f3fffd;
  color: #10387d;
}
.web .main-container .input-rows .input .signs i:hover, .web .main-container .input-rows .input .cart i:hover, .web .main-container .input-rows .input .count i:hover, .web .main-container .input-rows .input .fa-cog:hover, .web .main-container .input-rows .input .classic-hover:hover {
  color: #966B9D;
  transition: color 0.5s linear 0s;
}
.web .main-container .input-rows .input .add-to-cart {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
}
.web .main-container .input-rows .input .add-to-cart .count {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 1.25rem;
}
.web .main-container .input-rows .input .add-to-cart .count input {
  text-align: center;
  width: 2.5rem;
}
.web .main-container .input-rows .input .add-to-cart .count p {
  padding: 2px 0.625rem;
  border: 3px solid #10387d;
  margin: 0.3125rem;
}
.web .main-container .input-rows .input .add-to-cart .cart {
  display: flex;
}
.web .main-container .input-rows .input .add-to-cart .cart i {
  margin-left: 0.625rem;
  align-self: center;
  font-size: 2.1875rem;
}
.web .main-container .input-rows .input .input-width, .web .main-container .input-rows .input .input-height, .web .main-container .input-rows .input .input-depth, .web .main-container .input-rows .input .input-diameter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
  width: 15%;
}
.web .main-container .input-rows .input .input-diameter {
  width: 20%;
}
.web .main-container .input-rows .input [type=text], .web .main-container .input-rows .input select {
  font-family: "Philosopher", sans-serif;
  color: #10387d;
  width: 70%;
  font-size: 1.125rem;
  background: #f3fffd;
  align-self: center;
  outline: none;
  margin: 0;
}
.web .main-container .input-rows .input p {
  display: inline-block;
  margin: 0;
}
.web .main-container .input-rows .input .width, .web .main-container .input-rows .input .height, .web .main-container .input-rows .input .depth, .web .main-container .input-rows .input .diameter {
  margin-top: 0.5rem;
}
.web .main-container .input-rows .input #diameter {
  width: 75%;
  justify-self: start;
}
.web .main-container .input-rows .input .buttons, .web .main-container .input-rows .input .cog {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  text-align: right;
}
.web .main-container .input-rows .input .cog {
  margin-left: 1rem;
  font-size: 2.5rem;
}
.web .main-container .input-rows .input .cog .slow-spin {
  -webkit-animation: fa-spin 3s infinite linear;
  animation: fa-spin 3s infinite linear;
}
.web .main-container .input-rows .input button {
  font-family: "Vollkorn", serif;
  color: #10387d;
  width: 8.125rem;
  height: 5rem;
  padding: 0.625rem;
  margin: 0.625rem;
  background: #f3fffd;
  font-size: 1.125rem;
  font-weight: 600;
  outline: none;
  transition: all 0.5s ease-out 0s;
}
.web .main-container .input-rows .input .button:hover {
  transition: all 0.5s linear 0s;
  background: #E3D7FF;
  -webkit-animation: emphasize 500ms 1 ease-in;
  animation: emphasize 500ms 1 ease-in-out;
}
@keyframes emphasize {
  30% {
    transform: scale(1.05);
  }
}
@-webkit-keyframes emphasize {
  30% {
    transform: scale(1.05);
  }
}
.web .main-container .input-rows .input h3 {
  margin: 0.625rem 0 0 0;
  text-align: center;
}
.web .main-container .input-rows .input .utility-container {
  transition: height 0.15s ease-out;
  padding: 0 0px 0.625rem 0.3125rem;
  flex-direction: column;
  height: 11.5rem;
  align-items: center;
}
.web .main-container .input-rows .input .utility-container .title-text {
  margin-bottom: 0.3rem;
}
.web .main-container .input-rows .input .utility-container .second-line {
  justify-content: center;
  margin-bottom: 1rem;
}
.web .main-container .input-rows .input .utility-container .second-line div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.web .main-container .input-rows .input .utility-container .first-line {
  justify-content: flex-start;
}
.web .main-container .input-rows .input .utility-container .first-line .signs {
  align-self: center;
  font-size: 2.1875rem;
}
.web .main-container .input-rows .input .utility-container .first-line .signs i:last-of-type {
  margin: 0 0.625rem;
}
.web .main-container .input-rows .input .utility-container .first-line .signs p:first-child {
  display: flex;
}
.web .main-container .input-rows .input .opacity-class {
  opacity: 0;
}
.web .main-container .input-rows .input .preferences {
  flex-direction: column;
  font-size: 1rem;
  max-height: 15rem;
  margin-top: -0.625rem;
  transition: max-height 0.15s ease-out;
}
.web .main-container .input-rows .input .preferences .input-block {
  display: flex;
  text-align: center;
}
.web .main-container .input-rows .input .preferences .input-block > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}
.web .main-container .input-rows .input .preferences .input-block > div > p {
  margin-bottom: 0.3rem;
}
.web .main-container .input-rows .input .preferences .input-block > div div select {
  width: 100%;
}
.web .main-container .input-rows .input .preferences .input-block > div:nth-child(1) {
  width: 34%;
}
.web .main-container .input-rows .input .preferences .input-block > div:nth-child(2) {
  width: 25%;
}
.web .main-container .input-rows .input .preferences .input-block > div:nth-child(3) {
  width: 25%;
}
.web .main-container .input-rows .input .preferences .input-block > div:nth-child(4) {
  width: 16%;
}
.web .main-container .input-rows .input .preferences .yes-no-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}
.web .main-container .input-rows .input .preferences .yes-no-block p {
  padding: 0.3rem 0;
}
.web .main-container .input-rows .input .preferences .yes-no-block > div {
  text-align: center;
}
.web .main-container .input-rows .input .preferences .yes-no-block > div:nth-of-type(1) > :nth-child(1) {
  padding-top: 0;
}
.web .main-container .input-rows .input .preferences .yes-no-block > div > div {
  display: flex;
  justify-content: center;
}
.web .main-container .input-rows .input .preferences .yes-no-block > div > div > div {
  margin: 0 0.4rem;
}
.web .main-container .input-rows .input .preferences .yes-no-block > div > div > div i > p {
  margin-left: 0.3rem;
}
.web .main-container .price {
  grid-area: 1/3/2/11;
  text-align: center;
}
.web .main-container .price table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f3fffd;
}
.web .main-container .price table thead, .web .main-container .price table tfoot {
  background-color: #10387d;
  color: #f3fffd;
}
.web .main-container .price table th {
  padding: 0.5rem;
}
.web .main-container .price table td {
  padding: 0.5rem;
  white-space: nowrap;
  border-style: double none;
  vertical-align: top;
  text-align: center;
}
.web .main-container .price table .bottom-row td {
  border-bottom-style: none;
}
.web .main-container .price table .top-row td {
  border-top-style: none;
}
.web .main-container .price table .bottom-lined td {
  border-bottom-style: double;
}
.web .main-container .price .notes ul {
  text-align: left;
}
.web .main-container .price .notes ul li {
  padding-bottom: 0.5rem;
}
.web footer {
  grid-area: footer-start/first/footer-end/end;
  align-self: stretch;
  background-color: #B9D6F2;
  border-top: 3px solid #10387d;
}
.web footer .footer {
  font-family: "Philosopher", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.web footer .footer .footer-greeting {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  justify-content: space-between;
  align-items: center;
}
.web footer .footer .footer-greeting :first-child {
  margin-bottom: 0.5rem;
}
.web footer .footer p {
  margin: 0;
}
.web footer .footer a i {
  font-size: 2rem;
}

a {
  color: #10387d;
  font-size: 1.25rem;
  font-weight: 600;
}
a:hover {
  color: #6E44FF;
}

.hide {
  display: none;
}

@keyframes App-gear-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=App.css.map */
