/* Color palette--------------------------
PALE LAVENDER
#E3D7FF
SILVER CHALICE
#ABA9BF
DARK CERULEAN
#10387D
MINT CREAM
#f3fffd
MOUNTBATTEN PINK
#966B9D
----------------------------------------*/
/* Fonts --------------------------------
font-family: 'Philosopher', sans-serif;
font-family: 'Vollkorn', serif;
---------------------------------------*/
/* SASS variables */
/*btn*/
/*colors*/
/*-------------------------------------*/
/*shared*/
.main-container .input-rows .input button, .main-container .input-rows .input, .main-container .input-rows .input-mod, .main-container .input-rows, .main-container .menu .btnBed .btn {
  border-radius: 15px;
  border: 3px solid #10387d;
}

.main-container .input-rows .input [type=text], .main-container .input-rows .input select {
  border-radius: 5px;
  border: 2px solid #10387d;
}

.main-container .input-rows .input .preferences, .main-container .input-rows .input .first-line, .main-container .input-rows .input-mod .first-line {
  display: flex;
}

.main-container .input-rows .input, .main-container .input-rows .input-mod {
  margin-top: 15px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

/*---------------------------------*/
html {
  box-sizing: border-box;
  font-size: calc(0.7em + 0.3vw);
  background-color: #ABA9BF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.web {
  align-items: center;
  background: #E3D7FF;
  color: #10387d;
}

.grid-container {
  display: grid;
  grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25% [end];
  grid-template-rows: [header-start] 8.4375rem [header-end nav-start] auto [nav-end];
}
.grid-container header {
  grid-area: header-start/first/header-end/end;
}
.grid-container header p {
  font-size: 1.5625rem;
}
.grid-container header .header-cont {
  font-family: "Philosopher", sans-serif;
  display: grid;
  grid-template-columns: 7.8125rem 1fr 1fr;
  grid-template-rows: 8.4375rem;
  background: #B9D6F2;
}
.grid-container header .header-cont figure {
  grid-column: 1;
  grid-row: 1;
  margin-block-start: 0.625rem;
  margin-block-end: 0.625rem;
  margin-inline-start: 0.625rem;
  margin-inline-end: 0;
}
.grid-container header .header-cont figure #logo, .grid-container header .header-cont figure #gear {
  width: 7.1875rem;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}
.grid-container header .header-cont figure #gear {
  animation: App-gear-spin infinite 1.5s linear;
}
.grid-container header .header-cont .first-name {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: start;
  text-align: center;
  margin: 0.625rem 0 0 0.625rem;
}
.grid-container header .header-cont .first-name h1 {
  font-size: 3.125rem;
  margin: 0;
  border-bottom: 3px solid #10387d;
}
.grid-container header .header-cont .first-name p {
  margin-top: 0.625rem;
}
.grid-container header .header-cont .telefone {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
  margin: 0.625rem 1.5625rem 0 0.625rem;
}
.grid-container .nav {
  grid-area: nav-start/first/nav-end/end;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: stretch;
  border-top: 3px solid #10387d;
  border-bottom: 3px solid #10387d;
  position: sticky;
  top: 0;
  width: 100%;
}
.grid-container .nav a {
  padding: 0.625rem;
  background: #f3fffd;
  width: 25%;
  text-decoration: none;
}
.grid-container .nav a:hover {
  background: #966B9D;
  color: #f3fffd;
  text-shadow: 1px 1px #10387d;
}

.main-container {
  background-color: #B9D6F2;
  grid-template-columns: repeat(12, calc(100%/12));
  grid-template-rows: auto;
  display: grid;
  font-size: 1.125rem;
  font-weight: 600;
}
.main-container .menu {
  grid-area: 1/3/3/11;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  grid-template-rows: auto 25rem;
}
.main-container .menu .btnBed {
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0.3rem;
}
.main-container .menu .btnBed.diamond-coring {
  grid-area: 1/1/2/2;
}
.main-container .menu .btnBed.diamond-saw {
  grid-area: 1/2/2/3;
}
.main-container .menu .btnBed.diamond-wire {
  grid-area: 1/3/2/4;
}
.main-container .menu .btnBed.enforcement {
  grid-area: 1/4/2/5;
}
.main-container .menu .btnBed .btn {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 5px #f3fffd;
  font-size: 2rem;
  font-weight: bold;
  color: #10387d;
  height: auto;
  width: 85%;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #f3fffd;
  transition: all 0.15s ease-in-out;
  backface-visibility: hidden;
}
.main-container .menu .btnBed .btn:hover, .main-container .menu .btnBed .btn.hover {
  background: #E3D7FF;
  transform: translateY(-1.3rem);
  backface-visibility: hidden;
}
.main-container .menu .btnBed .btn.clicked {
  color: #f3fffd;
  text-shadow: 1px 1px 5px #4A4063;
  border: 3px solid #f3fffd;
  background-color: #4A4063;
}
.main-container .menu .services.enforcement, .main-container .menu .services.diamond-wire, .main-container .menu .services.diamond-saw, .main-container .menu .services.diamond-coring {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.main-container .menu .services {
  z-index: 1000;
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid #f3fffd;
  border-top: none;
  background: #E3D7FF;
}
.main-container .menu .services.diamond-coring {
  grid-area: 2/1/3/2;
}
.main-container .menu .services.diamond-saw {
  grid-area: 2/2/3/3;
}
.main-container .menu .services.diamond-wire {
  grid-area: 2/3/3/4;
}
.main-container .menu .services.enforcement {
  grid-area: 2/4/3/5;
}
.main-container .menu .services h3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #f3fffd;
  text-shadow: 2px 1px 4px #4A4063, 1px 2px 5px #10387d;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
}
.main-container .menu .services h3:hover {
  cursor: pointer;
  color: #10387d;
  text-shadow: 1px 1px 2px #f3fffd, 2px 2px 2px #dadadb;
}
.main-container .input-rows {
  margin-top: 1rem;
  grid-area: 2/1/3/5;
  align-self: start;
  display: flex;
  flex-flow: column;
  background-color: #ABA9BF;
}
.main-container .input-rows .last-row {
  margin-bottom: 15px;
}
.main-container .input-rows .input-mod {
  background: #966B9D;
  color: #f3fffd;
  text-shadow: 1px 1px 3px #10387d, 0px 2px 10px #4A4063;
  transition: height 0.15s ease-in, background-color 0.3s ease-in 0.01s;
}
.main-container .input-rows .input-mod .first-line {
  justify-content: flex-start;
  padding: 0.625rem 0px 0.625rem 0.3125rem;
  height: 4rem;
  transition: height 0.15s ease-out;
}
.main-container .input-rows .input-mod .first-line .signs {
  align-self: center;
  font-size: 2.1875rem;
  text-shadow: 0px 2px 10px #4A4063;
}
.main-container .input-rows .input-mod .first-line .signs i:last-of-type {
  margin: 0 0.625rem;
}
.main-container .input-rows .input-mod .first-line .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container .input-rows .input-mod .first-line .text p {
  display: inline-block;
  margin: 0;
}
.main-container .input-rows .input-mod i:hover, .main-container .input-rows .input-mod .signs i:hover {
  color: #10387d;
  text-shadow: 0px 0px 10px #f3fffd;
  transition: color 0.5s linear 0s;
}
.main-container .input-rows .input {
  background: #f3fffd;
  color: #10387d;
}
.main-container .input-rows .input .signs i:hover, .main-container .input-rows .input .cart i:hover, .main-container .input-rows .input .count i:hover, .main-container .input-rows .input .fa-cog:hover, .main-container .input-rows .input .classic-hover:hover {
  color: #966B9D;
  transition: color 0.5s linear 0s;
}
.main-container .input-rows .input .add-to-cart {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
}
.main-container .input-rows .input .add-to-cart .count {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 1.25rem;
}
.main-container .input-rows .input .add-to-cart .count input {
  text-align: center;
  width: 2.5rem;
}
.main-container .input-rows .input .add-to-cart .count p {
  padding: 2px 0.625rem;
  border: 3px solid #10387d;
  margin: 0.3125rem;
}
.main-container .input-rows .input .add-to-cart .cart {
  display: flex;
}
.main-container .input-rows .input .add-to-cart .cart i {
  margin-left: 0.625rem;
  align-self: center;
  font-size: 2.1875rem;
}
.main-container .input-rows .input .input-width, .main-container .input-rows .input .input-height, .main-container .input-rows .input .input-depth, .main-container .input-rows .input .input-diameter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
  width: 15%;
}
.main-container .input-rows .input .input-diameter {
  width: 20%;
}
.main-container .input-rows .input [type=text], .main-container .input-rows .input select {
  font-family: "Philosopher", sans-serif;
  color: #10387d;
  width: 70%;
  font-size: 1.125rem;
  background: #f3fffd;
  align-self: center;
  outline: none;
  margin: 0;
}
.main-container .input-rows .input p {
  display: inline-block;
  margin: 0;
}
.main-container .input-rows .input .width, .main-container .input-rows .input .height, .main-container .input-rows .input .depth, .main-container .input-rows .input .diameter {
  margin-top: 0.5rem;
}
.main-container .input-rows .input #diameter {
  width: 75%;
  justify-self: start;
}
.main-container .input-rows .input .buttons, .main-container .input-rows .input .cog {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  text-align: right;
}
.main-container .input-rows .input .cog {
  margin-left: 1rem;
  font-size: 2.5rem;
}
.main-container .input-rows .input .cog .slow-spin {
  -webkit-animation: fa-spin 3s infinite linear;
  animation: fa-spin 3s infinite linear;
}
.main-container .input-rows .input button {
  font-family: "Vollkorn", serif;
  color: #10387d;
  width: 8.125rem;
  height: 5rem;
  padding: 0.625rem;
  margin: 0.625rem;
  background: #E3D7FF;
  font-size: 1.125rem;
  font-weight: 600;
  outline: none;
  transition: all 0.5s ease-out 0s;
}
.main-container .input-rows .input .button:hover {
  transition: all 0.5s linear 0s;
  background: #966B9D;
  color: #f3fffd;
}
.main-container .input-rows .input .first-line {
  justify-content: flex-start;
  padding: 0.625rem 0px 0.625rem 0.3125rem;
  height: 8rem;
  transition: height 0.15s ease-out;
}
.main-container .input-rows .input .first-line .signs {
  align-self: center;
  font-size: 2.1875rem;
}
.main-container .input-rows .input .first-line .signs i:last-of-type {
  margin: 0 0.625rem;
}
.main-container .input-rows .input .first-line .signs p:first-child {
  display: flex;
}
.main-container .input-rows .input .opacity-class {
  opacity: 0;
}
.main-container .input-rows .input .preferences {
  flex-direction: column;
  font-size: 1rem;
  max-height: 15rem;
  margin-top: -0.625rem;
  transition: max-height 0.15s ease-out;
}
.main-container .input-rows .input .preferences .input-block {
  display: flex;
  text-align: center;
}
.main-container .input-rows .input .preferences .input-block > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}
.main-container .input-rows .input .preferences .input-block > div > p {
  margin-bottom: 0.3rem;
}
.main-container .input-rows .input .preferences .input-block > div div select {
  width: 100%;
}
.main-container .input-rows .input .preferences .input-block > div:nth-child(1) {
  width: 34%;
}
.main-container .input-rows .input .preferences .input-block > div:nth-child(2) {
  width: 25%;
}
.main-container .input-rows .input .preferences .input-block > div:nth-child(3) {
  width: 25%;
}
.main-container .input-rows .input .preferences .input-block > div:nth-child(4) {
  width: 16%;
}
.main-container .input-rows .input .preferences .yes-no-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}
.main-container .input-rows .input .preferences .yes-no-block p {
  padding: 0.3rem 0;
}
.main-container .input-rows .input .preferences .yes-no-block > div {
  text-align: center;
}
.main-container .input-rows .input .preferences .yes-no-block > div:nth-of-type(1) > :nth-child(1) {
  padding-top: 0;
}
.main-container .input-rows .input .preferences .yes-no-block > div > div {
  display: flex;
  justify-content: center;
}
.main-container .input-rows .input .preferences .yes-no-block > div > div > div {
  margin: 0 0.4rem;
}
.main-container .input-rows .input .preferences .yes-no-block > div > div > div i > p {
  margin-left: 0.3rem;
}

a {
  color: #10387d;
  font-size: 1.25rem;
  font-weight: 600;
}
a:hover {
  color: #6E44FF;
}

.hide {
  display: none;
}

@keyframes App-gear-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=App.css.map */
